/* Include Alpha Echo */
@font-face {
  font-family: jungsfont;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/alphaechotestgelaende-regular-webfont.eot");
  src: url("../fonts/alphaechotestgelaende-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alphaechotestgelaende-regular-webfont.woff") format("woff"), url("../fonts/alphaechotestgelaende-regular-webfont.ttf") format("truetype"), url("../fonts/alphaechotestgelaende-regular-webfont.svg#jungsfont") format("svg"); }

@font-face {
  font-family: jungsfont;
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/alphaechotestgelaende-regular-webfont.eot");
  src: url("../fonts/alphaechotestgelaende-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alphaechotestgelaende-regular-webfont.woff") format("woff"), url("../fonts/alphaechotestgelaende-regular-webfont.ttf") format("truetype"), url("../fonts/alphaechotestgelaende-regular-webfont.svg#jungsfont") format("svg"); }

@font-face {
  font-family: jungsfont;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/alphaechotestgelaende-regular-webfont.eot");
  src: url("../fonts/alphaechotestgelaende-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alphaechotestgelaende-regular-webfont.woff") format("woff"), url("../fonts/alphaechotestgelaende-regular-webfont.ttf") format("truetype"), url("../fonts/alphaechotestgelaende-regular-webfont.svg#jungsfont") format("svg"); }

body {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
a {
	color: #5AA;
	text-decoration: none;
}
h2 {
	font-family: jungsfont, Arial, sans-serif;
	font-size: 32px;
	font-weight: normal;
	line-height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}
h3 {
	font-family: jungsfont, Arial, sans-serif;
	font-size: 25px;
	font-weight: normal;
	line-height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}
h4{
	font-family: jungsfont, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}

/* Images */
p img,
img.alignleft,
img.alignright,
img.alignnone,
img.aligncenter {
	width: 100%!important;
}