.entry-content .wp-polls {
	@include box-sizing(border-box);
	background: url(../img/stripes-green.png);
	margin: 40px auto 40px auto;
	padding: 20px 30px 10px 30px;
	h5 {
		font-size: 24px;
		line-height: 24px;
	}
	ul {
		padding: 0;
		margin: 0 0 10px 0 ;
	}
	li {
		padding: 0;
		margin: 0;
		input {
			margin: 0;
			padding: 0;
		}
	}
	input.btn {
		padding: 7px;
	}
	a {
		color: #000!important;
	}
	.wp-polls-ans {
		ul {
			margin: 0;
			padding: 0 0 20px 0;
		}
	}
	.pollbar {
		background-image: none;
		background: #3F7D7D;
		border: none;
	}
}
#secondary,
#primary #content {
	.wp-polls-loading {
		display: none;
		text-align: center!important;
		width: 16px!important;
		height: 16px!important;
		line-height: 16px;
	}
}
#secondary .wp-polls {
	background: url(../img/stripes-green.png);
	padding: 5px 10px 1px 10px;
	margin-left: 20%;
	@include breakpoint(small-screen) { margin-left: 0; }
	h5 {
		font-size: 24px;
		line-height: 24px;
	}
	input.btn {
		padding: 7px;
	}
	input {
		margin: 0 5px 0 0;
		padding: 0;
	}
	.wp-polls-ans {
		ul {
			margin: 0;
			padding: 0 0 20px 0;
		}
	}
	.pollbar {
		background-image: none;
		background: #3F7D7D;
		border: none;
	}
	p a {
		color: #000;
	}
}