.wp_rp_plain {
	margin: 30px 0;
}
.wp_rp_plain:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.wp_rp_content {
	float: left;
}
ul.related_post {
	margin: 0 -10px;
	list-style-type: none;
	padding: 0;
	clear: both;
	float: left;
	li {
		width: 33%;
		float: left;
		@media only all and (max-width: 767px) {
			width: 100%;
		}
	}
}
.wp_rp_thumbnail {
	margin: 0 10px;
	display: block;
	background: #ccc;
	margin-bottom: 20px;
	&:hover {
		opacity: 0.5;
	}
}
.wp_rp_title {
	margin: 0 10px;
	height: 90px;
	display: block;
	font-family: jungsfont;
	font-size: 18px;
	color: #222;
}
