/* ******************************************* */
/* MAIN TEMPLATE
/* 
/* Webfonts are Loaded via Javascript
/* ******************************************* */

@import "bourbon";
@import "bootstrap";
@import "responsive";
@import "h5boilerplate";
@import '_font-awesome.sass';

body {
	@include box-sizing(border-box);
}

/* ********************************************************************************* */
/* Responsive Mixin -- see http://css-tricks.com/media-queries-sass-3-2-and-codekit/ */
/* ********************************************************************************* */
@mixin breakpoint($point) {
  @if $point == large-screem {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == medium-screen {
	@media (min-width: 768px) and (max-width: 979px) { @content; }
  }
  @else if $point == small-screen {
    @media (max-width: 767px)  { @content; }
  }
}

/* ******************************************* */
/* Mata Nav */
/* ******************************************* */
#metanav {
	background: $black;
	display: block;
	float: left;
	clear: both;
	width: 100%;
	z-index: 1;
	position: relative;
	a {
		color: $maincolor
	}
	ul {
		margin: 0;
		padding: 0;
		@include breakpoint(small-screen) { display: none; }
	}
	li {
		display: block;
		float: left;
		padding: 10px 20px;
		color: $white;
	}
}
h1,h2,h3,h4 {
	font-weight: normal;
	text-transform: uppercase;
}
/* ******************************************* */
/* FOOTER NAV */
/* ******************************************* */
.footer-menu {
	float: right;
	ul {
		display: inline;
		margin: 0;
		padding: 0;
		list-style-type:none;
	}
	li {
		display: inline;
		margin: 0 10px;
	}
}
/* ******************************************* */
/* HEADER */
/* ******************************************* */
#masthead {
	background: $maincolor;
	@include breakpoint(small-screen) { 
		margin: 0 -20px;
		padding: 20px 0 0 0;
		border-top: 10px solid $black;
	}
}
#masthead .container {
	@include breakpoint(small-screen) { 
		padding: 0 20px;
	}
}
#masthead .site-branding {
	@include box-sizing(border-box);
	width: 55%;
	float: left;
	h1 {
		font-size: 60px;
		line-height: 75%;
	}
	a {
		color: $black;
		display: block;
		&:hover {
			 opacity: 0.5;  
			}
	}
}
#masthead .sociallinks {
	float: left;
	width: 45%;
	padding-top: 20px;
	@include breakpoint(small-screen) { padding-top: 15px }
	img {
		width: 100%;
	}
	ul {
		text-align: right;
	}
	li {
		width: 20%;
		margin: 0;
		padding: 0;
		@include breakpoint(small-screen) {
			width: 18%;
			padding: 0;
		}
	}
	a:hover img{
		opacity: 0.5;
	}
}
/* STAGE */
#masthead #stage {
	margin: 20px 0;
	.stage-nav {
		margin: 0 0 20px 0;
		padding: 0;
		border-bottom: 1px solid $white;
		text-transform: uppercase;
		font-weight: bold;
	}
	.nav-tabs > li > a {
		/* Tab Redesign for the Stage */
		border-radius: 0;
		border: none;
		color: $black;
		@include breakpoint(small-screen) {
			font-size: 12px;
			padding: 5px 8px;
		}
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li > a:hover {
		color: $maincolorDark;
	}
	/* Freunde Liste */
	.freunde {
		li {
			text-align: center;
			margin-bottom: 20px;
			width: 120px;
			@include breakpoint(medium-screen) { width: 95px; }
			@include breakpoint(small-screen) { width: 20%; }
		}
		/* Show only 4 users */
		li.friend-hidden {
			display: none;
		}
		a {
			display: block;
		}
		img {
			width: 100%;
		}
		li.circle {
			height: 120px;
			a {
				height: 100%;
				display: table-cell;
				vertical-align: middle;
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
	.showless {
		display: none;
	}
	/* Formular */
	.formular {
		h3 {
			margin-top: 0px;
			color: #000;
		}
	}
	/* Tag Cloud */
	.tag-cloud {
		text-align: justify;
		padding-bottom: 20px;
		font-weight: bold;
	}
	.tag-cloud a {
		color: $white;
		text-transform: uppercase;
		margin-right: 15px;
		padding: 10px;
		line-height: 140%;
		&:hover {
			text-decoration: none;
			background: $white;
			color: $maincolorDark;
		}
	}
	/* Author Bio on Author-Archive */
	.author {
		border-top: 1px solid $white;
		padding-top: 20px;
		width: 55%;
		.avatar-wrap{
			position: absolute;
			margin-right: 20px;
		}
		h1,p {
			margin-left: 140px;
			color: $black;
		}
		article {
			min-height: 120px;
		}
	}
	@include breakpoint(small-screen) { padding: 20px 0; }
}
/* ******************************************* */
/* Main Navigation */
/* ******************************************* */
#mainnav {
	margin-top: 0px;
	background: url(../img/stripes-dark.png);
	text-transform: uppercase;
	font-weight: normal;
	.container {
		@include breakpoint(small-screen) { padding: 0 20px; }
	}
	.horizontal {
		/* For Large Screens */
		@include breakpoint(small-screen) { display: none; }
		ul {
			font-family: jungsfont;
			font-size: 24px;
			margin: 0;
			padding: 0;
			height: 50px;
			li {
				display: block;
				float: left;
				padding: 10px;
				margin-top: 10px;
				a {
					color: $white;
					&:hover {
						text-decoration: none;
						color: $black;
					}
				}
			}
			li.current-cat {
				background: $white;
				a {
					color: $black
				}
			}
		}
	}
	.dropdown {
		/* For Small Screeens */
		padding: 10px 0;
		display: none;
		@include breakpoint(small-screen) { display: block; }
		.dropdown-toggle {
			font-family: jungsfont;
			font-size: 24px;
			color: $white;

		}
	}
}

/* ******************************************* */
/* BIGTEXT Headlines */
/* ******************************************* */
.slabified .slabbedtext {
    display:-moz-inline-box;
    display:inline-block;
    white-space:nowrap;
    line-height: 75%;
}
.slabbedtextinactive .slabbedtext {
    /*display:inline;*/
    display: block; /* Leeave Blocks */
    white-space:normal;
    font-size:1em !important;
    letter-spacing:inherit !important;
    word-spacing:inherit !important;
    *letter-spacing:0 !important;
    *word-spacing:0 !important;
    margin-right: 0.25em;
}
.slabbedtextdone .slabbedtext {
    display:block;
}
/* ******************************************* */
/* Rounded Images */
/* ******************************************* */
img.avatar,
img.img-rounded {
	border-radius: 100px;
	position: relative;
	z-index: 100;
	background: $white;
}

/* ******************************************* */
/* LAYOUT */
/* ******************************************* */
/* Main Content */
#main {
	padding: 40px 0 0 0;
}
/* Footer */
#colophon {
	background: url(../img/stripes-dark.png);
	padding: 00px 20px 60px 20px;
	margin: 40px auto 0 auto;
	color: $white;
	.site-info {
		background: $maincolor;
		background: rgba($black,0.2);
		padding: 25px 5px 10px 5px;
	}
	a {
		color: $white;
	}
}
/*
footer ul li {
	@include breakpoint(small-screen) { display: inline!important }
}
*/

/* ******************************************* */
/* ARTICLES */
/* ******************************************* */
article.post {
	margin-bottom: 40px;
	padding-bottom: 30px;
	border-bottom: 4px double $maincolor;
}
.single article.post {
	border-bottom: none;
	margin-bottom: 0px;
}
.entry-title {
	color: $black;
	font-size: 48px;
	@include breakpoint(small-screen) { 
		font-size: 32px;
		line-height: 28px;
	}
	a {
		color: $black;
		&:hover {
			color: $maincolorDark;
			text-decoration: none;
		}
	}
}
.btn-primary a {
	color: $white;
}
.feature-thumb {
	width: 100%;
	max-height: 388px;
	overflow: hidden;
	margin-bottom: 20px;
	img {
		width: 100%;
	} 
}
.entry-content {
	line-height: $baseLineHeight;
}
/* Images */
.entry-content div.wp-caption {
	width: 100%!important;
}
.entry-content img {
	/* Old School Responsive Images */
	width: 100%;
}
.entry-content img.notresponsive {
	width: auto;
}

.entry-content .wp-caption-text{
	color: #666;
	font-size: 85%;
	border-bottom: 1px solid #ccc;
}
.entry-content h1 {
	line-height: 30px;
}
.entry-content h2 {
	line-height: 25px;
}
.entry-content h3 {
	line-height: 23px;
}
.entry-content h4 {
	line-height: 20px;
}

.entry-meta {
	line-height: $baseLineHeight;
}
.single .entry-meta {
	margin-bottom: 20px;
}
.post .avatar-wrap {
	img.avatar {
		display: block;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		background: $white;
		@include breakpoint(small-screen) { margin-bottom: 5px}
	}
	@include breakpoint(small-screen) {
		float: left;
		width: 120px;
		padding-right: 20px;
	}
}

/* ******************************************* */
/* ARCHIVE AND INDEX CUSTOMIZATIIONS */
/* ******************************************* */
.span6 .cats-list,
.span6 .comments-count {
	display: none;
}
.span6 .entry-meta {
	margin-left: -5px;
}

/* ******************************************* */
/* VIDEO THUMBS */
/* ******************************************* */
.video-thumb {
	position: relative;
	img {
		width: 100%;
	}
}
a.playbutton {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
	img {
		width: 100%;
	}
}

/* ******************************************* */
/* SIDEBAR */
/* ******************************************* */
#secondary {
	@include breakpoint(small-screen) {
		border-top: 10px solid $black;
		padding-top: 20px;
		margin-top: 40px;
	}
}
#secondary .widget {
	line-height: $baseLineHeight;
	margin-bottom: $baseLineHeight;
}
#secondary aside h1 {
	font-size: 20px;
}
#secondary .textwidget {
	margin-left: 0;
	background: url(../img/stripes-green.png);
	padding: $gridGutterWidth;
	@include breakpoint(small-screen) { margin-left: 0; }
	a {
		color: $black;
	}
	h4 {
		font-size: 21px;
		line-height: 21px;
	}
	em {
		font-style: normal;
		color: $maincolorDark;
	}
	p strong {
		font-family: jungsfont;
		font-size: 18px;
	}
	p a {
		font-family: jungsfont;
		font-size: 18px;		
	}
}
#secondary .widget_search {
	form {
		width: 100%;
		@include box-sizing(border-box);
	}
	input {
		width: 75%;
	}
	button {
	}
}
/* Listed Widgets */
#secondary #recentcomments,
#secondary .widget_archive ul,
#secondary .widget_nav_menu ul {
	margin-left: 20%;
	list-style-type: none;
	li {
		padding: 3px 0;
		border-bottom: 1px solid #ccc;
	}
	li:last-child {
		border: none;
	}
	@include breakpoint(small-screen) { margin-left: 0; }
}
/* Tag Cloud */
#secondary .tagcloud {
	margin-left: 20%;
	@include breakpoint(small-screen) { margin-left: 0; }
}
/* RSS Feed Link */
#secondary a[href^="/feed"] {
	&:before {
		content:"\F09E";
		font-family: FontAwesome;
		padding-right: 0.25em;
	}
}

/* ******************************************* */
/* ARTICLE MEDIA ELEMENTS */
/* ******************************************* */
.carousel {
	clear: both;
}
.carousel img {
	width: 100%!important;
}

/* ******************************************* */
/* COMMENTS */
/* ******************************************* */
#comments {
	background: url(../img/stripes-green.png);
	padding: 20px;
	.comment-author{
		border-bottom: 1px solid $black;
	}
	img.avatar {
		position: absolute;
		border-radius: 80px;
	}
	.comment-meta{
		margin-bottom: 5px;
		a {
			color: $black;
		}
	}
	.comment-edit-link {
		float: right;
	}
	article {
		background: $white;
		padding: 20px;
		margin: 0 0 20px 70px;
	}
	ol {
		margin-left: 0;
		list-style-type: none;
	}
	textarea {
		width: 98%;
	}
}
/* ******************************************* */
/* Accordion */
/* ******************************************* */
.accordion-group {
	background: url(../img/stripes-green.png);
	border-color: $white;
	.accordion-heading a {
		color: $black;
	}
	.accordion-inner {
		border-top: 4px solid $white;
		background: lighten($maincolor, 25);
	}
}

/* ******************************************* */
/* Browser Warning */
/* ******************************************* */
.alert-error a{
	color: black;
	text-decoration: underline;
}
/* ******************************************* */
/* Plugin Stuff */
/* ******************************************* */
@import "_plugin_wppolls.scss";/* Voting Plugin */
@import "_plugin_relatedposts.scss";/* Related Posts Plugin */
@import "_plugin_contactform7.scss"; /* Contact Form */

/* Social Share Buttons */
.social_share_privacy ul {
	@include breakpoint(small-screen) { 
		height: auto;
	}
}
.social_share_privacy ul li {
	@include breakpoint(small-screen) { 
		float: none;
		width: 100%;
	}
}