.media-modal .media-sidebar .attachment-display-settings{
	display: none!important
}
form#your-profile {
	label[for="yim"] {
		color: #fff;
		&:before {
			content: 'Redaktionsgruppe';
			color: #222;
		}
	}
	label[for="jabber"] {
		color: #fff;
		&:before {
			content: 'Youtube-Link ';
			color: #222;
		}
	}
}