/* Font Awesome doesnt work */
@font-face {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  src: url("fontawesome-webfont.eot");
  src: url("fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg#FontAwesome") format("svg"); }

/* Include Alpha Echo */
@font-face {
  font-family: jungsfont;
  font-weight: normal;
  font-style: normal;
  src: url("alphaechotestgelaende-regular-webfont.eot");
  src: url("alphaechotestgelaende-regular-webfont.eot?#iefix") format("embedded-opentype"), url("alphaechotestgelaende-regular-webfont.woff") format("woff"), url("alphaechotestgelaende-regular-webfont.ttf") format("truetype"), url("alphaechotestgelaende-regular-webfont.svg#jungsfont") format("svg"); }

@font-face {
  font-family: jungsfont;
  font-weight: bold;
  font-style: normal;
  src: url("alphaechotestgelaende-regular-webfont.eot");
  src: url("alphaechotestgelaende-regular-webfont.eot?#iefix") format("embedded-opentype"), url("alphaechotestgelaende-regular-webfont.woff") format("woff"), url("alphaechotestgelaende-regular-webfont.ttf") format("truetype"), url("alphaechotestgelaende-regular-webfont.svg#jungsfont") format("svg"); }

@font-face {
  font-family: jungsfont;
  font-weight: normal;
  font-style: normal;
  src: url("alphaechotestgelaende-regular-webfont.eot");
  src: url("alphaechotestgelaende-regular-webfont.eot?#iefix") format("embedded-opentype"), url("alphaechotestgelaende-regular-webfont.woff") format("woff"), url("alphaechotestgelaende-regular-webfont.ttf") format("truetype"), url("alphaechotestgelaende-regular-webfont.svg#jungsfont") format("svg"); }
